#instructions {
    background-color: blue;
    height: 200px;
}

#resultBoard {
    background-color: green;
    height: 300px;
}

#scoreboard {
    background-color: purple;
    height: 200px;
}

#mainRow {

    /* height: 200px; */

}

#rock {
    height: 200px;
    background-color: blue;
    text-align: center;
}

#paper {
    height: 200px;
    background-color: red;
    text-align: center;
}

#scissors {
    height: 200px;
    background-color: orange;
    text-align: center;
}

#choices {

    /* height: 300px; */
}

#footer {
    height: 50px;
    background-color: purple;
}