.row {
    text-align: center;
}

#instructions {
    background-color: blue;
    height: 200px;
}

#resultBoard {
    background-color: grey;
    height: 300px;
}


#scoreboard {
    background-color: purple;
    height: 200px;
}


#rock {
    height: 200px;
    background-image: url("the-rock.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    
}

#paper {
    height: 200px;
    background-image: url("paper.jpg");
    background-size: cover;
    text-align: center;
}

#scissors {
    height: 200px;
    background-image: url("edward.jpg");
    background-size: cover;
    text-align: center;
}



#footer {
    height: 50px;
    background-color: purple;
}